@mixin clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; opacity: 1; }
  &::-moz-placeholder          { color: $color; opacity: 1; }
  &:-moz-placeholder           { color: $color; opacity: 1; }
  &:-ms-input-placeholder      { color: $color; opacity: 1; }
}

@mixin media($value-1, $value-2) {
  @media screen and (min-width: $value-1) and (max-width: $value-2) {
    @content
  }
}
@mixin mobile {
  @media screen and (max-width: $screen-xs-max) {
    @content
  }
}
@mixin tablet {
  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content
  }
}
@mixin laptop {
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content
  }
}
@mixin desctop {
  @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    @content
  }
}
@mixin big-screen {
  @media screen and (min-width: $screen-big) {
    @content
  }
}

@mixin tablet-min {
  @media screen and (min-width: $screen-sm-min) {
    @content
  }
}
@mixin tablet-max {
  @media screen and (max-width: $screen-sm-max) {
    @content
  }
}
@mixin laptop-min {
  @media screen and (min-width: $screen-md-min) {
    @content
  }
}
@mixin laptop-max {
  @media screen and (max-width: $screen-md-max) {
    @content
  }
}
@mixin desctop-min {
  @media screen and (min-width: $screen-lg-min) {
    @content
  }
}
@mixin desctop-max {
  @media screen and (max-width: $screen-lg-max) {
    @content
  }
}