extends common/head.jade

block title
  title О разработчике

block content
  .menu#menu
    +navigation('menu', navigation, 'Обо мне')
  header.header(style="background-image: url(images/bg_main.jpg)")
    .header__top
      +social
      a.toggle-nav#toggle-nav(href="#")
        span.toggle-nav__inner
    .header__content
      .header__avatar
        img.header__img(src="images/avatar.jpg" alt="Вот он Я!))")
      .header__name Исаев Раиль
      .header__desc Личный сайт веб разработчика
    .header__bottom
      a.header-arrow#arrow-down(href="#content")
        svg.header-arrow__svg
          use(xlink:href="images/sprite.svg#arrow_down")
    .header__label.header__label--about
      svg.header__svg
        use(xlink:href="images/sprite.svg#about_header")
  main.main-content#main-content
    +triangles('triangles__darken', 'triangles__lighten')
    .about
      .about__left
        .about__heading
          +sect-head('Обо мне', 'about_header', 357, 125)
        .about__content
          .about__photo
            img.about__img(src="images/avatar.jpg" alt="Вот он я! ))")
          h3.block-head кто я
          .about__desc
            .paragraph
               p.
                Я веб разработчик из Москвы. Мне 24 года.
                <br> Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .paragraph
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
      .about__right
        .tehn
          h3.block-head Чем я могу быть <br>  вам полезен
          .paragraph.paragraph--tehn
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
          .tehn__wrap
            .tehn__row
              h4.tehn__title Frontend
              .tehn__inner
                +circle-svg('HTML5', 282, 0.9)
                +circle-svg('CSS3', 270, 0.9)
                +circle-svg('JavaScript & jQuery', 150, 0.5)
            .tehn__row
              h4.tehn__title Backend
              .tehn__inner
                +circle-svg('PHP', 125, 0.4)
                +circle-svg('mySQL', 160, 0.5)
                +circle-svg('Node.js & npm', 180, 0.6)
                +circle-svg('Mongo.db', 80, 0.4)
            .tehn__row
              h4.tehn__title WorkFlow
              .tehn__inner
                +circle-svg('Git', 280, 0.9)
                +circle-svg('Bulp', 270, 0.85)
                +circle-svg('Bower', 260, 0.8)
    .maps
      .maps__map#map
      .contacts
        h3.block-head Контакты
        ul.contacts__list
          li.contacts__item
            .contacts__icon
              svg.contacts__svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#skype")
            a.contacts__text.contacts__text--link(href="skype:isaev-rail1992?call") isaev-rail1992
          li.contacts__item
            .contacts__icon
              svg.contacts__svg(width="23" height="16")
                use(xlink:href="images/sprite.svg#envelope2")
            a.contacts__text.contacts__text--link(href="mailto:isaevrail@gmail.com") isaevrail@gmail.com
          li.contacts__item
            .contacts__icon
              svg.contacts__svg(width="19" height="17")
                use(xlink:href="images/sprite.svg#phone")
            a.contacts__text(href="tel:+79037526923") +7(903) 752 69 23
          li.contacts__item
            .contacts__icon
              svg.contacts__svg(width="16" height="31")
                use(xlink:href="images/sprite.svg#map_marker")
            span.contacts__text Москва, Карельский бульвар, дом 6
  +footer('footer-overlay')
