extends common/head.jade

block title
  title Блог

block content
  .menu#menu
    +navigation('menu', navigation, 'Блог')
  header.header(style="background-image: url(images/bg_main.jpg)")
    .header__top
      +social
      a.toggle-nav#toggle-nav(href="#")
        span.toggle-nav__inner
    .header__content
      .header__avatar
        img.header__img(src="images/avatar.jpg" alt="Вот он Я!))")
      +sect-head('Блог','blog_header', 302, 208, '--white' )
      .header__desc Личный сайт веб разработчика
  main.main-content#main-content
    +triangles
    .blog
      .blog__sidebar#sidebar
        .articles-nav
          +navigation('articles-nav', articles.nav, 'Самое важное в SASS', '')
        a.blog__toggle#open-sidebar(href="#")
      .blog__content
        .articles
          .articles__item#sassg
            .heading-h3
              h3 Самое важное в SASS
            .date
              time(datetime="2016-11-22") 22 ноября 2016
            .paragraph
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .articles__img
              img(src="images/articles/sass.jpg")
          .articles__item
            .heading-h3#layout
              h3 Приёмы в вёрстке, без которых не обходится ни один сайт
            .date
              time(datetime="2016-11-13") 13 ноября 2016
            .paragraph
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
  +footer
