mixin social
  .social
    a.social__link(href="#")
      svg.social__icon.social__icon--vk
        use(xlink:href="images/sprite.svg#vk")
    a.social__link(href="#")
      svg.social__icon.social__icon--gh
        use(xlink:href="images/sprite.svg#github")
    a.social__link(href="#")
      svg.social__icon.social__icon--in
        use(xlink:href="images/sprite.svg#in")