@import '_variables.scss';
@import '_function.scss';
@import '_mixins.scss';
@import '_fonts.scss';
@import './bower_components/font-awesome/scss/font-awesome.scss';

body, html {
  height: 100%;
}

html {
  font-size: $base-font-size-mobile;
  @media (min-width: $screen-sm-min) {
    font-size: $base-font-size-desctop;
  }
}

body {
  font-family: $font-roboto, Helvetica, Arial, sans-serif;
  color: $color-text;
  min-width: 320px;
}

@import '_reset';

// Bloks
@import 'blocks/_home';

// Partials
@import 'partials/user';
@import 'partials/social';
@import 'partials/auth';