.social {
  &--opacity .social__icon {
      fill: rgba($color-white, .5);
  }
  &__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 14px;
    &:hover .social__icon {
      fill: $color-main;
    }
  }
  &__icon {
    fill: $color-white;
    transition: .2s;
  }
}